# c:\Users\rizky\OneDrive\Dokumen\GitHub\ETL\requirements.txt
pandas
numpy
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
SQLAlchemy
psycopg2-binary 
apache-airflow-providers-postgres 
apache-airflow-providers-google   
pyarrow                           
google-api-python-client
apache-airflow-providers-smtp